<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="r_TipoServicio">Tipo Servicio:</label>
      <input id="r_TipoServicio" formControlName="r_TipoServicio">
    </div>

    <div class="form-group">
      <label for="r_NombreServicio">Nombre Servicio:</label>
      <input id="r_NombreServicio" formControlName="r_NombreServicio">
    </div>

    <div class="form-group">
      <label for="r_NOM_TABLA">NOM TABLA:</label>
      <input id="r_NOM_TABLA" formControlName="r_NOM_TABLA">
    </div>

    <div class="form-group">
      <label for="r_Id">Id:</label>
      <input id="r_Id" formControlName="r_Id">
    </div>

    <div class="form-group">
      <label for="r_Nombre">Nombre:</label>
      <input id="r_Nombre" formControlName="r_Nombre">
    </div>

    <div class="form-group">
      <label for="r_Descripcion">Descripcion:</label>
      <input id="r_Descripcion" formControlName="r_Descripcion">
    </div>

    <div class="form-group">
      <label for="r_Proce_pro_rsta">Procedimiento proceso respuesta:</label>
      <input id="r_Proce_pro_rsta" formControlName="r_Proce_pro_rsta">
    </div>

    <div class="form-group">
      <label for="r_Sistema_fuente">Sistema fuente:</label>
      <input id="r_Sistema_fuente" formControlName="r_Sistema_fuente">
    </div>

    <div class="form-group">
      <label for="r_Tipo">Tipo:</label>
      <input id="r_Tipo" formControlName="r_Tipo">
    </div>

    <div class="form-group">
      <label for="r_Url">Url:</label>
      <input id="r_Url" formControlName="r_Url">
    </div>

    <div class="form-group">
      <label for="r_Metodo">Metodo:</label>
      <input id="r_Metodo" formControlName="r_Metodo">
    </div>

    <div class="form-group">
      <label for="r_Content_Type">Content-Type:</label>
      <input id="r_Content_Type" formControlName="r_Content_Type">
    </div>

    <div class="form-group">
      <label for="r_Accept">Accept:</label>
      <input id="r_Accept" formControlName="r_Accept">
    </div>

    <div class="form-group">
      <label for="r_Credenciales">Credenciales:</label>
      <input id="r_Credenciales" formControlName="r_Credenciales">
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
